<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483847959590-hvcihife01t4dmiov1ksd61vage1cnh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483847959590-hvcihife01t4dmiov1ksd61vage1cnh0</string>
	<key>API_KEY</key>
	<string>AIzaSyAzV_fWP3TlYh1iP59KhyWxcm3OqRHINRc</string>
	<key>GCM_SENDER_ID</key>
	<string>483847959590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ruheekim.WAL</string>
	<key>PROJECT_ID</key>
	<string>wal-server-8a2fb</string>
	<key>STORAGE_BUCKET</key>
	<string>wal-server-8a2fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483847959590:ios:b11ce50efac36e53e0e2e7</string>
</dict>
</plist>