<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193254770396-h2gv5qgisn0tvh1chba6b4762q9dqef8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193254770396-h2gv5qgisn0tvh1chba6b4762q9dqef8</string>
	<key>API_KEY</key>
	<string>AIzaSyAPNQ71Tx4ZQOp1hwmgfxBJ_qLSv6xPZ0s</string>
	<key>GCM_SENDER_ID</key>
	<string>193254770396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ruheekim.WAL</string>
	<key>PROJECT_ID</key>
	<string>wal-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>wal-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193254770396:ios:ca6c0462e884906abcd619</string>
</dict>
</plist>