<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727076840709-pt5truunu8lsvvniif40htia2lub87r3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727076840709-pt5truunu8lsvvniif40htia2lub87r3</string>
	<key>API_KEY</key>
	<string>AIzaSyBsbrZamVcjmFxWkXOB8xk1SlXHiKhH-pw</string>
	<key>GCM_SENDER_ID</key>
	<string>727076840709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ruheekim.WAL</string>
	<key>PROJECT_ID</key>
	<string>zanzan-18f89</string>
	<key>STORAGE_BUCKET</key>
	<string>zanzan-18f89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727076840709:ios:a039a742a5a5de21d1836c</string>
</dict>
</plist>